name: Update README to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'
      - '.github/workflows/update-README.yml'
  
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - name: Create documentation site
        run: |
          mkdir -p _site
          cp README.md _site/index.html
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4